  /* Reset some default styles */
  html,
  body {
      margin: 0;
      padding: 0;
  }

  /* Global Styles */
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
  }

  .header {
      background-color: rgba(0, 128, 109, 0.413);
      color: white;
      padding: 1px;
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .header-title {
      font-size: 70px;
      margin-top: 25px;
  }

  .header-job {
      font-size: 20px;
  }

  .img-cv {
      border-radius: 50%;
      border: 6px solid aliceblue;
      width: 300px;
      height: 300px;
      object-fit: cover;    
  }
