/* fonts are downloaded from google fonts */
@font-face {
       font-family: 'Protest Riot';
       font-style: normal;
       font-weight: 400;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/protestriot/v2/d6lPkaOxWMKm7TdezXFmpkr83vhhvmQ.woff2) format('woff2');
       unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
       font-family: 'Protest Riot';
       font-style: normal;
       font-weight: 400;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/protestriot/v2/d6lPkaOxWMKm7TdezXFmpkr80Phh.woff2) format('woff2');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
       unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
       unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
       font-family: 'Roboto';
       font-style: italic;
       font-weight: 400;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');
       unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
       font-family: 'Roboto';
       font-style: italic;
       font-weight: 400;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
       font-family: 'Roboto';
       font-style: italic;
       font-weight: 700;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format('woff2');
       unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
       font-family: 'Roboto';
       font-style: italic;
       font-weight: 700;
       font-display: swap;
       src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');
       unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
       box-sizing: border-box;
}

*,
*::before,
*::after {
       box-sizing: inherit;
}

body {
       --text-color: #222;
       --bkg-color: #aed7ed;
}

body.dark-theme {
       --text-color: #eee;
       --bkg-color: rgb(70, 72, 72);
}
body {
       margin-top: 0;
       background: var(--bkg-color);
       color: var(--text-color);
}

@media (prefers-color-scheme: dark) {

       /* defaults to dark theme */
       body {
              --text-color: #eee;
              --bkg-color: #222;
       }

       body.light-theme {
              --text-color: #222;
              --bkg-color: #aed7ed;             
       }
}
html {
       max-width: 75ch;
       margin: auto;
       font-size: 20px;
       font-family: 'Roboto', sans-serif;
       /*Codigo del profe DM */
       --header-height: 3rem;
       /* We need some extra room for what comes next to the header: */
       --header-height-extra: calc(var(--header-height) + 1.5rem);
       /* Ensure padding when scrolling: */
       scroll-padding-top: var(--header-height-extra);
}

.name {
       font-family: 'Protest Riot', serif;
}

header {
       position: sticky;
       top: 0;
       background-color: #edcbde;
       /*Codigo del profe DM */
       height: var(--header-height);
       padding: 0.5rem;
       box-sizing: content-box;
       border-radius: 0.3rem;
       
}

nav a{
       text-decoration: none;
       padding-top: 1rem;
       margin-top: 1.5rem;
       font-size: 1.5vw;
}
nav ul {
       list-style: none;
       padding: 0;
       margin: 0;
       display: flex;
       justify-content: start;
       padding-left: 1.5em;
       padding-top: 0.5em;
       align-items: center;
       gap: 2em;
      
}

nav {
       background-color: #edcbde;
       height: 3.5rem;
       top: 0;
       width: 100%;
}

nav li {
       display: inline-block;
}


.Skills ul {
       display: flex;
       align-items: center;
       justify-content: space-between;
       gap: 10px;
       flex-flow: wrap;

}
footer {
       background-color: #edcbde;
       color: #000000;
       height: var(--header-height);
       padding: 0.5rem;
       bottom: 0;
       margin: 0;
       box-sizing: content-box;
       border-radius: 0.3rem;
}

.Skills li {
       display: inline-block;
       border: 2px solid #e5c1cd;
       background-color: #f3dbcf;
       color: #000000;
       flex: auto;
}

.grid {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       grid-template-areas: "one two";
}

.edu {
       grid-area: one;
}

.lang {
       grid-area: two;
}

.edu li,
.lang li {
       display: block;
       line-height: 2em;

}

.con li {
       display: inline-block;
}



/* Dark mode styles */
.dark-theme nav,
.dark-theme header,
.dark-theme footer,
.dark-theme .Skills ul li,
.dark-theme .card,
.dark-theme .desc,
.dark-theme .title {
       color: #ffffff;
       background-color: #4e5150;
}

.dark-theme .action {
       background-color: gray;
}

.dark-theme a:visited {
       color: #e5c1cd;
}

.dark-theme a:link {
       color: #e5c1cd;
}

.cards {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       gap: 40px;
}

/* source: https://uiverse.io/Yaya12085/little-puma-29 */


.card {
       max-width: 400px;
       border-radius: 0.5rem;
       background-color: #EAD2DF;
       box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
       border: 1px solid transparent;
}

.card a {
       text-decoration: none;
}

.content {
       padding: 1.1rem;
}

.imgvirtualpet, .cookies {
       object-fit: cover;
       width: 100%;
       height: 300px;
       background-color: rgb(239, 205, 255);
}

.title {
       color: #111827;
       font-size: 1.125rem;
       line-height: 1.75rem;
       font-weight: 600;
}

.desc {
       margin-top: 0.5rem;
       color: #000000;
       font-size: 0.875rem;
       line-height: 1.25rem;
}

.action {
       display: inline-flex;
       margin-top: 1rem;
       color: #ffffff;
       font-size: 0.875rem;
       line-height: 1.25rem;
       font-weight: 500;
       align-items: center;
       gap: 0.25rem;
       background-color: #bf88df;
       padding: 4px 8px;
       border-radius: 4px;
}

.action span {
       transition: .3s ease;
}

.action:hover span {
       transform: translateX(4px);
}

.darkicon {
       float: right;
       padding-top: 0.5rem;
       padding-right: 1.5rem;
}

@media screen and (max-width: 600px) {
       nav a {
              float: none;
              display: block;
              text-align: left;
              padding: 0.5rem;
              text-decoration: none;
              font-size: 3vw;
              margin-top: 0;
       }

       nav a:link, a:visited{
              color: #000000;
       }

       .dark-theme nav a:link, 
       .dark-theme nav a:visited{
              color: #eee;
       }
       nav ul{
              gap: 0.2rem;
       }

       header {
              background-color:  #e5c1cd;
              top:0;
              position: sticky;
              padding: 0; 
              font-size: 3vw;
       }

       svg{
              width: 2rem;
              float: right;
       }
       
}